body {
  /* width 100% 넘는 게 없는데 스크롤이 돼서 막음 */
  overflow-x: none;

  background-color: #fcfcfc;

  margin: 0;
  font-family: 'IBM Plex Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* unselectable */
  /* 드래그해서 파랗게 뜨면 이상하기 때문에. */
  user-select: none;

  /* 스크롤바를 표시하지 않는다. */
  /* PC에선 스크롤바가 보여서 FAB 의 위치가 스크롤바만큼 x축 이동하는 문제 발생 */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}
