.l-list-navbar-root {
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 10000;

  background: white;
  padding: 0.5em 0.5em 0.4em 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
}

.l-list-navbar-logo-container {
  display: flex !important;
  flex-direction: row !important;
  align-items: baseline;

  cursor: pointer;
}

.l-list-navbar-logo {
  margin-top: 0.15em;
  color: tomato;
  font-size: 1.2em;
}

.l-list-navbar-title {
  font-family: inherit;
  font-size: 1.2em !important;
  margin: 0 0 0 0.25em !important;
}

.l-list-navbar-title.title-1 {
  color: tomato;
}

.l-list-navbar-title.title-2 {
  color: navy;
}

.l-list-navbar-title.title-3 {
  margin-left: 0 !important;
  color: orangered;
}

/* 헤더 우측 영역 */
.b-list-navbar-menu-container {
  /* 메뉴 영역의 세로 정렬을 위함 */
  display: flex;
  align-items: center;
}

.b-list-navbar-login-btn {
  /* 기본 버튼이 애매해서 변경 */
  font-size: 0.75em !important;
  padding: 0.5em !important;
  line-height: 0 !important;

  background: rgb(247, 203, 21) !important;
  color: white !important;
  font-family: 'Alliance No.1', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    sans-serif !important;
}

.b-list-navbar-login-btn:hover {
  background: rgba(247, 203, 21, 0.8) !important;
}

/* pressed */
.b-list-navbar-login-btn:active {
  background: rgba(247, 203, 21, 0.9) !important;
}

.b-list-navbar-github-logo {
  min-height: 1.5em !important;
  vertical-align: text-top;

  width: 1.5em;
  margin-right: 0.5em;
}
