.b-list-root {
  margin-top: 0 !important;
}

.b-list-root-category-title {
  color: black;
  font-size: 1em;

  margin: 0.5em;
}

.b-list-fg-bg-container {
  display: flex;
}

.b-list-item {
  width: 100% !important;
  color: rgba(0, 0, 0, 0.9);
  padding: 0.5em !important;
  border: none !important;

  display: flex !important;
}

.b-list-item.closed {
  background: rgb(44, 44, 44);
}

.b-list-item.closed .b-list-item-thumb {
  opacity: 0.5;
}

.b-list-item.closed .b-list-item-header,
.b-list-item.closed .b-list-item-content,
.b-list-item.closed .b-list-item-emoji-counter {
  color: rgba(0, 0, 0, 0.2) !important;
}

/* closed case 추가 */
.b-list-item.closed .b-list-item-emoji-each-container.selected {
  /* background: linear-gradient(70deg, pink, plum, palevioletred); */
  background: linear-gradient(
    70deg,
    rgba(255, 192, 203, 0.2),
    rgba(221, 160, 221, 0.2),
    rgba(216, 112, 147, 0.2)
  );
}

.b-list-item-header {
  font-size: 0.9em;
  font-family: inherit !important;
  color: #000;
  font-weight: bold;
  margin-bottom: 0.25em !important;
}

.b-list-item-content {
  width: 100% !important;

  display: flex !important;
  flex-direction: column !important;
  justify-content: space-around;
}

/* 가장 강조돼야 할 내용 */
.b-list-item-body {
  font-size: 1em;
  line-height: 1em;
  letter-spacing: -0.03em;
  margin-bottom: 0.25em !important;
}

.b-list-footer {
  display: flex;
  justify-content: space-between;
}

.b-list-item-date {
  font-size: 1em;
  margin-bottom: 0.25em !important;

  /* 이모지와 같이 배치하다보니 어쩔 수 없음.. */
  margin-top: -0.25em;
  align-self: flex-start;
}

.b-list-item-emoji-root-container {
  display: flex !important;
  justify-content: flex-end !important;
  margin-top: 0.25em !important;
}

.b-list-item-emoji-each-container {
  border-radius: 1em;

  padding: 0.4em 0.6em;
  background: rgba(190, 190, 190, 0.2);

  margin-left: 0.25em;
}

.b-list-item-emoji-each-container > div {
  /* 이모지와 카운터 숫자 정렬 */
  display: flex;
  align-items: flex-end;
}

.b-list-item-emoji-each-container.selected {
  background: linear-gradient(70deg, pink, plum, palevioletred);
}

.b-list-item-emoji-interest,
.b-list-item-emoji-handwave {
  width: 1.3em;
}

.b-list-item-emoji-counter {
  font-size: 1em;
  line-height: 1em;
  color: #333;
}

.b-list-item-thumb {
  width: 4em;
  height: 4em;

  border-radius: 50%;
  background-size: 4em 4em;

  margin-right: 0.5em;
}

/* 배경 */
.fg {
  transition-timing-function: ease-in-out;

  /* flex를 쓰면 margin-left로 쉽게 처리 가능 */
  /* 굳이 absolute + offset 쓸 필요가 없다! */
  width: 100%;
  margin-left: -100%;
  background: #fcfcfc !important;
}

.bg {
  width: 100%;
  /* 굳이 보더를 주는건 간격을 맞추기 위함 */
  background: linear-gradient(70deg, #ff6347, #f7cb15, palevioletred);

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* 이모지를 가쪽에서 어느 정도 떨어트리게 배치 */
  box-sizing: border-box;
  padding: 0 1em;
}

.bg-emoji {
  width: 2em;
}

.bg-emoji-text {
  vertical-align: super;
  color: bisque;
  margin: 0.5em;
}
